html {
  font-size: 10px;
}

body{
	background: #fff url(../img/fon_1.webp);
}

header img{
	width: 100px;
	height: 100px;
	margin-right: 15%;
	display: inline-block;
}

.menu, .oval-button{
  transition: 0.5s; /* Время эффекта */ 
	font-size: 10px;
	margin-left: 5%;
	display: inline-block;
  font-size: 30px;
  color: #7442c8;
}

.menu:hover, .oval-button:hover{
  transform: scale(1.2); /* Увеличиваем масштаб */
}

a {
  text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1% 10% 0% 10%;

}

nav{
	display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 7px;
}

main{
	padding: 1% 10% 0% 10%;
}

main img{
	margin-top: 20px;
	height: 426px;
	width: 640px;
	border-radius: 10px;
}

.card_2{
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: center;
}

.card_2 h2{
	border: 4px outset #a319ff;
	padding: 17px;
	border-radius: 14px;
	margin-left: 20px;
  font-size: 26px;
  font-weight: normal;
}



/*Блок "Наши преимущества"*/
.advantages{
	text-align: center;
	font-size: 30px;

}

.our-advantages{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background-color: #f5f5f5;
}

.advantage-container {
  text-align: center;
  max-width: 300px;
}

.advantage-container img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.advantage-container h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

.advantage-container p {
  font-size: 18px;
  color: #666;
}
/*Блок "Наши преимущества" закончился*/



.offers{
	text-align: center;
	font-size: 30px;
}

.card_3{
	display: flex;
  flex-direction: column;
  padding: 20px;
}

.card_3 h2{
	border: 4px dashed #a319ff;
	padding: 17px;
	border-radius: 14px;
	margin-left: 20px;
  font-size: 26px;
  font-weight: normal;
}



/*Кнопка "Наши услуги"*/
.oval-button {
	margin-top: 20px;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  background-color: #ba66ff;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.oval-button:hover {
  background-color: #8c00ff;
  cursor: pointer;
}
/*Кнопка "Наши услуги" закончилась*/



/*Стили FAQ*/
.faq {
  width: 80%;
  margin-top: 60px;
  font-size: 20px;
}
.faq h2{
	text-transform: uppercase;
}
 
details {
  background-color: #ba66ff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5em;
  margin-bottom: 1em;
}
 
summary {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
 
details[open] {
  background-color: #e0b3ff;
}
/*Стили FAQ закончились*/



/*СТИЛИ СТРАНИЦЫ "НАША КОМАНДА"*/
h1{
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.card {
  display: flex;
  align-items: center;
  background-color: #e0b3ff;
  padding: 20px;
  border-radius: 10px;
  align-items: flex-start;
  margin-top: 10px;
}

.photo{
  width: 250px;
  height: 350px;
  margin-right: 20px;
  border-radius: 10px;
}

.card h2 {
  font-size: 30px;
}

.card p {
  font-size: 20px;
}

.messenger{
	margin-right: 10px;
	width: 30px;
  height: 30px;
  float: right;
}

/*анимация*/
.waviy {
	display: flex;
  position: relative;
  justify-content: center;
  letter-spacing: 0.8em;

}
.waviy span {
	text-align: center;
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #000;
  text-transform: uppercase;
  animation: flip 3s infinite;
  animation-delay: calc(.3s * var(--i))
}
@keyframes flip {
  0%,80% {
  	color: #000;
    transform: rotateY(360deg) 
  }
}
/*анимация*/

/*СТИЛИ СТРАНИЦЫ "НАША КОМАНДА" ЗАКОНЧИЛИСЬ*/




.work-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.work-list li {
	margin-left: 25px;
	list-style-type:	disc;
  margin-bottom: 20px;
  font-size: 20px;
}

.work-list li a {
    text-decoration: none;
  }

.work-list li a:hover {
    text-decoration: underline;
   }

.work-list h4 {
	font-size: 25px;
}




/*Стили страницы "О нас"*/

.start{
	display: flex;
	margin-bottom: 50px;
}

.half-violet {
	border-radius: 10px;
  border: 1px solid #ddd;
 	width: 50%;
  background-color: #8a2be2;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: inline-block;
}

.half-violet p{
	margin: 20px 20px 20px 20px;
	font-size: 20px;
	}

.half-white {
	border-radius: 10px;
  border: 1px solid #ddd;
	font-size: 25px;
	line-height: 1.5;
	width: 50%;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: inline-block;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 30px;
}
.half-white h1{
	color: #8a2be2;
}
li{
	margin-left: 15px;
	color: #8a2be2;
}
li span{
	color: #000;
}



.card_3 {
    margin: 50px auto;
    width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-evenly;
}

.card_3 img {
  width: 400px;
  height: 410px;
  margin-right: 20px;
  object-fit: cover;
}

.card__initials_3 {
  font-size: 2em;
  font-weight: bold;
  margin-right: 20px;
  text-align: center;
}

.card__content_3 {
  padding: 32px;
}

.card__quote_3 {
  font-size: 1.6em;
  font-style: italic;
  margin-bottom: 20px;
  text-align: right;
  padding-right: 30px;
  border-right: 1px solid #ddd;
}

.card__author_3 {
	font-size: 16px;
  text-align: right;
  margin-right: 20px;
}
/*Стили страницы "О нас" закончились*/



/*Оформление секции контактов*/
footer {
    padding: 1% 10% 0% 10%;
    background-color: #e2e0e1;
    display: flex;
    justify-content: space-between;
}

footer h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.location, .contacts {
  margin-left: 30px;
  margin-bottom: 15px;


}

.contacts li {
  margin-bottom: 5px;
}

.location h1, .information h1, .social-network h1 {
  font-family: 'InterBold', sans-serif;
  font-size: 20px;
  color: #000;
  text-align: left;
}

.information p {
  width: 300px;
  font-size: 15px;
  font-family: 'InterRegular', sans-serif;
  color: #000;
}
.social-network a {
  font-size: 20px;
  color: #000;
  font-style: italic;
  line-height: 1.5;
}
.social-network a:hover{
  color:#225384;
} 
.information .social-network {
  margin-top: 63px;
  color: #000;
  font-size: 20px;
}
/*Оформление секции контактов закончился*/




