html {
  font-size: 10px;
  padding: 1% 10% 0% 10%;
}
header img{
	width: 100px;
	height: 100px;
	margin-right: 10%;
	display: inline-block;
}
.menu{
	margin-bottom: 100px;
	font-size: 10px;
	margin-left: 5%;
	display: inline-block;
  	font-size: 30px;
  	color: #282828;
}
p{
	display: inline-block;
}
a {
  text-decoration: none;
}
